<nb-card class=login-card>
  <nb-card-body>
    <nb-tabset fullWidth>
      <nb-tab tabTitle="Login">
        <span *ngIf="error" class="caption-2 text-hint" style="text-align: center;">Use <b>das@coligo.com</b> and
          <b>coligo</b> to
          login as user <br><br> <b>admin@coligo.com</b> and
          <b>admincoligo</b> for admin</span>
        <div class="form-input">
          <input fullWidth type="email" [(ngModel)]=logger.email fieldSize="giant" nbInput placeholder="Email">
        </div>
        <div class="form-input">
          <input fullWidth type="password" [(ngModel)]=logger.password fieldSize="giant" nbInput placeholder="Password">
        </div>
        <div class="form-input">
          <button [nbSpinner]="loading" nbButton fullWidth size="giant" (click)="goHome()" hero>Login</button>
        </div>
      </nb-tab>

      <nb-tab tabTitle="Register">
        <div class="form-input">
          <input fullWidth type="text" fieldSize="giant" nbInput placeholder="Full Name">
        </div>
        <div class="form-input">
          <input fullWidth type="text" fieldSize="giant" nbInput placeholder="Phone Number">
        </div>
        <div class="form-input">
          <input fullWidth type="email" fieldSize="giant" nbInput placeholder="Email">
        </div>
        <div class="form-input">
          <input fullWidth type="password" fieldSize="giant" nbInput placeholder="Password">
        </div>
        <div class="form-input">
          <button disabled [nbSpinner]="loading" nbButton fullWidth size="giant" (click)="goHome()"
            hero>Register</button>
        </div>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
</nb-card>
