<div class="layout-wrapper">
  <!--Side Menu Component -->

  <nb-card>
    <nb-card-body>
      <nb-tabset>
        <nb-tab tabTitle="Stats">
          <nb-card>
            <nb-card-header>
              Contact Network Chart (Simulated Data)
            </nb-card-header>
            <nb-card-body>
              <div style="display: block">
                <canvas baseChart [datasets]="scatterChartData" [options]="scatterChartOptions"
                  [labels]="scatterChartLabels" [chartType]="scatterChartType">
                </canvas>
              </div>
            </nb-card-body>
          </nb-card>
          <nb-card>
            <nb-card-header>
              User Distribution Chart (Simulated Data)
            </nb-card-header>
            <nb-card-body>
              <div style="display: block">
                <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                  [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
              </div>
            </nb-card-body>
          </nb-card>
        </nb-tab>
        <nb-tab tabTitle="About">
          <h1>C-Point Interview Project</h1>
          <span>
            <pre>Read the README.md</pre> file</span>
          Cooked by BlvrDylan
        </nb-tab>
      </nb-tabset>
    </nb-card-body>
  </nb-card>

</div>
