<div class="layout-wrapper">
  <!--Side Menu Component -->

  <nb-card class="utility-box side-menu">
    <nb-card-body>
      <div class="menu-list">
        <h1>Home</h1>
        <h1>About</h1>
      </div>
    </nb-card-body>
  </nb-card>

  <!--Side Menu Component -->

  <!-- Contact Details Component -->

  <nb-card class="utility-box contact-details">
    <nb-card-body class="detail-info">
      <div *ngIf="selectedContact.name !== ''">
        <h3>{{selectedContact.name}}</h3>
        <h4>{{selectedContact.phone}}</h4>
        <h5>{{selectedContact.email}}</h5>
        <nb-icon *ngIf="selectedContact.favorite" icon="star" status="success"></nb-icon>
      </div>
      <div *ngIf="selectedContact.name == ''">
        <h3>No Contact Selected</h3>
      </div>
    </nb-card-body>
  </nb-card>

  <!-- Contact Details Component -->

  <!-- Contact List Component -->

  <nb-flip-card [flipped]=addFlip [showToggleButton]=false>
    <nb-card-front>
      <nb-card class="utility-box contact-list" [nbSpinner]="loading" nbSpinnerSize="large">
        <nb-card-header class="search-header">
          <input fullWidth type="text" fieldSize="large" nbInput [(ngModel)]="searchModel" placeholder="Search..." />
          <button (click)="filterFavs()" *ngIf="!filtered" nbButton ghost size="large" status="primary">
            <nb-icon icon="funnel-outline"></nb-icon>Filter Favs
          </button>
          <button (click)="unfilterFavs()" *ngIf="filtered" nbButton ghost size="large" status="primary">
            <nb-icon icon="funnel-outline"></nb-icon>Unfilter
          </button>
        </nb-card-header>
        <nb-card-body>
          <nb-card class="contact-item-wrapper" *ngFor="let item of contacts | searchFilter: searchModel">
            <nb-card-body class="contact-item" (click)="selectContact(item)">
              <nb-user size="large" [name]="item?.name" [title]="item?.phone" [picture]="item?.picture">
              </nb-user>
              <div>
                <button nbButton ghost status="danger" (click)="deleteContact(item._id)">
                  <nb-icon icon="trash-2-outline"></nb-icon>
                </button>
                <button nbButton ghost status="primary" (click)="favContact(item._id, item)">
                  <nb-icon [icon]="item.favorite ? 'star' : 'star-outline'"></nb-icon>
                </button>
              </div>
            </nb-card-body>
          </nb-card>
        </nb-card-body>
        <nb-card-footer>
          <button (click)="addFlip = true" nbButton size="small" fullWidth hero>
            <nb-icon icon="plus-outline"></nb-icon> Add Contact
          </button>
        </nb-card-footer>
      </nb-card>
    </nb-card-front>


    <nb-card-back>
      <nb-card status="primary" class="utility-box" [nbSpinner]="loading">
        <nb-card-header>Add a contact</nb-card-header>
        <nb-card-body>
          <form [formGroup]="contactForm" (ngSubmit)="createContact()">
            <div class="form-input">
              <input required fullWidth type="text" fieldSize="large" nbInput placeholder="Full Name"
                formControlName="name">
            </div>
            <div class="form-input">
              <input required fullWidth type="text" fieldSize="large" nbInput placeholder="Phone Number"
                formControlName="phone">
            </div>
            <div class="form-input">
              <input fullWidth type="email" fieldSize="large" nbInput placeholder="Email" formControlName="email">
            </div>
            <div class="form-input">
              <input fullWidth type="text" fieldSize="large" nbInput placeholder="Address" formControlName="address">
            </div>
            <div class="form-input">
              <input fullWidth type="text" fieldSize="large" nbInput placeholder="Company" formControlName="company">
            </div>
            <div class="form-input">
              <input fullWidth type="text" fieldSize="large" nbInput placeholder="Image url" formControlName="picture">
            </div>
            <div class="form-input">
              <button [disabled]="!contactForm.valid" nbButton fullWidth size="large" status="success" hero
                type="submit">
                Add Contact
              </button>
            </div>
          </form>
        </nb-card-body>
        <nb-card-footer>
          <div class="form-input">
            <button (click)="addFlip = false" nbButton size="small" hero>
              <nb-icon icon="arrow-back-outline"></nb-icon> Contact List
            </button>
          </div>
        </nb-card-footer>
      </nb-card>
    </nb-card-back>
  </nb-flip-card>

  <!-- Contact List Component -->
</div>
