.layout-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.utility-box {
  width: 100%;
  margin: 0 0.5rem;
  height: 75vh; /*!! to be removed !!*/
}

.contact-list {
  .search-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.contact-details {
  background-color: #3366ff;
  color: #f2f2f2;
}

.contact-item-wrapper:hover {
  border: none;
  transition: border 0.2s ease-in-out;
  cursor: pointer;
}

.contact-item-wrapper:hover {
  border: 1px dashed #3366ff;
}

.contact-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.form-input {
  padding: 0.5rem 0;
}

.side-menu {
  .menu-list {
    padding: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h1 {
    font-weight: 300;
    font-size: 5rem;
    transition: all 200ms ease-in-out;
    color: #222;
    cursor: pointer;
  }

  h1:hover {
    font-size: 5.3rem;
    font-weight: 400;
    color: #3366ff;
  }
}

.contact-details {
  text-align: center;

  .detail-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    img {
      width: 300px;
      border-radius: 1000px;
      border: dashed 2px white;
      margin: 1rem;
    }

    h3 {
      font-weight: 300;
    }

    h5 {
      font-size: 1rem;
    }

    h3,
    h4,
    h5 {
      color: white;
      padding: 0;
      margin: 0;
    }
  }

  a.flip-button {
    display: none;
  }
}
